// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

.simple_form {
  margin-top: 50px;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

body {
  background: rgb(238,174,202);
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

.index {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn {
  background-color: #96BAE8 !important;
}